@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="in-line col-md-8 col-md-offset-2">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Search Movies" id="searchBox" name="searchBox">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="SearchButton" onclick="SearchMoviesByName(this)">Search</button>
            </div>
        </div>
    </div>
</div>
<div id="divSearchResults" style="display:none">
</div>
